# List of file patterns for git to ignore.
#
# Please try to keep entries in alphabetical order :-)
#
*~
*.a
*.gmo
*.o
*.omf
.cproject
.deps
.intltool-merge-cache
.project
.xml2po.mo
INSTALL
Makefile
Makefile.in
Makefile.in.in
POTFILES
aclocal.m4
autom4te.cache
config.*
configure
depcomp
gparted*
gnome-doc-utils.make
install-sh
intltool-*
libtool
ltmain.sh
m4
missing
mkinstalldirs
omf.make
stamp-*
xmldocs.make
