# List of file patterns for git to ignore.
#
# Please try to keep entries in alphabetical order :-)
#
*~
*.a
*.gmo
*.lo
*.mo
*.o
.cproject
.csettings
.deps
.dirstamp
.intltool-merge-cache
.libs
.project
.xml2po.mo
INSTALL
Makefile
Makefile.in
Makefile.in.in
POTFILES
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
gparted
gparted.appdata.xml
gparted.desktop
gparted.desktop.in
gpartedbin
install-sh
intltool-*
lib/gtest/lib
libtool
ltmain.sh
m4/*.m4
!m4/ax_cxx_compile_stdcxx_11.m4
!m4/ax_cxx_compile_stdcxx.m4
missing
mkinstalldirs
org.gnome.gparted.policy
org.gnome.gparted.policy.in
stamp-*
test-driver
testbuild.log
tests/*.log
tests/*.trs
tests/test-suite.log
tests/test_BlockSpecial
tests/test_PasswordRAMStore
tests/test_PipeCapture
tests/test_dummy
