Source: gparted
Section: unknown
Priority: optional
Maintainer: Vincent van Adrighem <adrighem@gnome.org>
Standards-Version: 3.5.8
Build-Depends: debmake

Package: gparted
Architecture: any
Depends: ${shlibs:Depends}
Description: Missing
 Missing
